.profile-img {
    margin-top: 5px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.profile-comment {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.comment h5 {
    margin-bottom: 0rem;
}

.comment hr {
    margin: 0;
    width: 100%;
}

.comment .user-info {
    margin-top: 5px;
}

.comment .droptext {
    margin-right: 5px;
}

.comment-text {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.comment-collapse {
    margin-top: 10px;
}

.no-comment,
.comment_retrieve_button {
    margin-bottom: 10px;
}

.comment {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    margin-bottom: 10px;
}

.flow-content {
    margin-top: 1rem;
}

.card {
    margin-bottom: 2rem;
}

.status-upload {
    background-color: rgba(0, 0, 0, 0.03);
}

.status-upload input {
    width: 100%;
    font-size: 1.3rem;
    padding: 10px;
    font-weight: 500;
    line-height: 1.2;
    outline:none;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.droptext {
    text-align: right;
}

.droptext .dropdown-toggle::after {
    border: none;
}

.fa-ellipsis-h:hover {
    color: #5C6A76;
    cursor: pointer;
}

#post-submit {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#post-submit select {
    margin-right: 10px;
}

#post-submit .input-group {
    width: inherit;
}

.status-upload textarea {
    border: medium none;
    color: #777777;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
}

:root {
    --form-input-padding-x: .75rem;
    --form-input-padding-y: .75rem;
}

.form-custom {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}

.group-rename {
    max-width: inherit;
    padding: 0px;
}

.form-custom.group-rename .form-label-group {
    width: 100%;
    margin-bottom: 0rem;
    cursor: text;
}

.form-custom .form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-custom .form-label-group label {
    cursor: text;
}

.form-custom .form-label-group > input,
.form-custom .form-label-group > label {
    padding: var(--form-input-padding-x) var(--form-input-padding-y);
}

.form-custom .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-custom .form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-custom .form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-custom .form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-custom .form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-custom .form-label-group input::placeholder {
    color: transparent;
}

.form-custom .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--form-input-padding-y) + var(--form-input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--form-input-padding-y) / 3);
}

.form-custom .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--form-input-padding-y) / 3);
    padding-bottom: calc(var(--form-input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}


.pointer {
    cursor: pointer;
}

.show_hide {
    cursor: pointer;
    border-bottom: 1px hidden var(--dark);
}

.show_hide:hover {
    border-bottom-style: solid;
}