<form class="form-custom">
  <div class="form-label-group">
    <input type="text" id="group_send_name" class="form-control" placeholder="Group Name" required autofocus>
    <label for="group_send_name">Group Name</label>
  </div>

  <button id="group_send_button" class="btn btn-lg btn-primary btn-block" type="submit">Create Group</button>
</form>