<div class="card">
<form class="status-upload">
  <textarea placeholder="What do you want to share" ></textarea>
  <div id="post-submit">
    <a class="btn btn-light mr-auto disabled" title="Picture" data-toggle="tooltip" data-placement="bottom"><i class="far fa-image"></i></a></li>
    <button id="post_send_button" type="submit" class="btn btn-primary"><i class="fa fa-share"></i> Post</button>
  </div>
</form>
</div>