<ul id="nav-group" class="navbar-nav mr-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarGroupLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Groups {{#group.invites}}<span class="badge badge-light">{{group.invites}}</span>{{/group.invites}}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarGroupLink">
      <a class="dropdown-item pointer" id="group_create_view_button">Create Group</a>
      {{#group.invites}}
      <a class="dropdown-item pointer" id="group_invite_view_button">Manage invites <span class="badge badge-dark">{{group.invites}}</span></a>
      {{/group.invites}}
      {{#group.isOwner}}
      <a class="dropdown-item pointer" id="group_owner_view_button">Manage owned groups</a>
      {{/group.isOwner}}
      <a class="dropdown-item pointer" id="group_update_button">Update group info</a>
    </div>
  </li>
</ul>

<ul id="nav-drop" class="navbar-nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarProfileLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{user.nick}}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarProfileLink">
        <!--<a class="dropdown-item" href="/profile">Profile</a>-->
        <a id="account_logout_button" class="dropdown-item">Sign out</a>
      </div>
  </li> 
</ul>