<div id="postid-{{id}}" class="card" data-postid="{{id}}">
  <div class="card-header">
    <div class="clearfix">
      <img src="img/profile.png" class="float-left profile-img rounded-circle" alt="Profile pic">
      <div class="user-info">
        <div class="clearfix">
          <div class="float-left">
            <h5>{{nick}}</h5>
            <small class="text-muted live-time" title="{{tooltip_time}}" data-rawtime="{{raw_time}}" data-toggle="tooltip" data-placement="bottom">{{time}}</small>
          </div>
          <div class="droptext float-right">
            <div class="dropdown">
              <a class="dropdown-toggle" id="postDrop{{postid}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
              <div class="dropdown-menu" aria-labelledby="postDrop{{postid}}">
                <a class="post_hide_button pointer dropdown-item">Hide</a>
              </div>
            </div>
            <span class="text-muted">{{group}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="post-content">
      <h3>{{title}}</h3>
      <hr>
      {{text}}
    </div>
  </div>
  <div class="card-footer">
    <form class="form-inline">
        <input type="text" class="comment_send_text form-control col-10 mr-auto" placeholder="Comment" required>
        <button type="submit" class="comment_send_button btn btn-primary col-1"><i class="fa fa-share"></i> Post</button>
    </form>
    <hr>
    <div>
      <a class="show_hide-comment outer">Show comments <i class="fas fa-angle-down"></i></a>
      <div class="panel-collapse collapse out comment-collapse">
        <button class="comment_retrieve_button btn btn-outline-info btn-small"><i class="fas fa-sync"></i></button>
        <div class="comments">

        </div>
        <a class="show_hide-comment inner">Hide comments <i class="fas fa-angle-up"></i></a>
      </div>
    </div>
  </div>
</div>